body {
  background-color: #000000;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 950px;
  height: 538px;
  margin-top: 10px;
}
.container img {
  width: 260px;
  height: 480px;
  margin-top: -36px;
  margin-left: 230px;
}
.form {
  color: #000000;
  text-align: center;
  margin-top: 28px;
  width: 250px;
  height: 260px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 6px;
  gap: 10px;
}
.form h1 {
  color: white;
  font-family: ;
}
.hr-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: gray;
  font-size: 11px;
}

.hr-text::before,
.hr-text::after {
  content: "";
  flex: 1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 5px;
}

.hr-text span {
  padding: 0 10px;
  font-weight: bold;
}
.pe {
  width: 260px;
  margin-top: 310px;
  position: absolute;
  margin-left: 501px;
  text-align: center;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.pe p {
  color: #d2f1ff;
  font-size: 11px;
  a {
    color: #0095f6;
    text-decoration: none;
  }
  :hover {
    text-decoration: underline;
    color: #0095f6;
  }
}
button,
input {
  background-color: #000000;
  color: #e1d9d9;
  width: 80%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 11px;
  padding: 5px;
}
.btn {
  background-color: #0069ad;
  color: rgb(172, 168, 168);
  width: 85%;
  border: none;
  border-radius: 5px;
}
.form,
input,
button {
  margin-bottom: 7px;
}
.f p a {
  color: #0095f6;
  text-decoration: none;
  font-size: 11px;
}
.f p a:hover {
  color: white;
}
.f h1 {
  font-size: 30px;
}
.ppp {
  color: wheat;
  margin-top: 74px;
  font-size: 11px;
}
.play {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 380px;
  margin-left: -235px;
}
.play img {
  border: none;
  border-radius: 1px;
  width: 100px;
  height: 27px;
  margin: 0;
  padding: 0;
}
.play:hover {
  cursor: pointer;
}
input:focus {
  outline: none;
  border-color: #0095f6;
  box-shadow: 0 0 5px rgba(0, 149, 246, 0.5);
}
footer {
  color: gray;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer p a {
  color: gray;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
  color: gray;
}
.end p a {
  justify-content: space-between;
  margin-top: 0px;
}

.l i {
  color: #0095f6;
  margin-right: 5px;
  font-size: 16px;
}
.l i:hover {
  color: #0095f6;
}
